<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="onrobot_rg2_gazebo" params="prefix">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/onrobot_rg2</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin> 
    </gazebo>

    <gazebo>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}left_inner_knuckle_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}left_inner_knuckle_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}right_inner_knuckle_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}right_inner_knuckle_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}left_inner_finger_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}left_inner_finger_joint</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}right_inner_finger_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}right_inner_finger_joint</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}right_outer_knuckle_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}right_outer_knuckle_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
         <maxEffort>5.0</maxEffort>
        <!-- <hasPID /> -->
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>