<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="True" />
  <param name="robot_description" command="$(find xacro)/xacro $(find onrobot_rg_description)/urdf/onrobot_rg2_model.xacro" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find onrobot_rg_description)/config/rg2_visualize.rviz" required="true" />
</launch>