<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="onrobot_vgc10_base_link" params="prefix">
    <link name="${prefix}onrobot_vgc10_base_link">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.6" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vgc10_visualization/meshes/visual/base_link.stl" />
        </geometry>
        <material name="">
          <color rgba="0.8 0.8 0.8 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vgc10_visualization/meshes/collision/base_link.stl" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="finger_links" params="prefix">
    <xacro:suction prefix="${prefix}"/>
  </xacro:macro>
</robot>
