<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="suction" params="prefix">
    <link name="${prefix}suction1">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.2" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/visual/suction_cup_4cups.stl" />
        </geometry>
        <material name="">
          <color rgba="0.9 0.9 0.9 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/collision/suction_cup_4cups.stl" />
        </geometry>
      </collision>
    </link>
    <link name="${prefix}suction2">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.2" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/visual/suction_cup_4cups.stl" />
        </geometry>
        <material name="">
          <color rgba="0.9 0.9 0.9 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/collision/suction_cup_4cups.stl" />
        </geometry>
      </collision>
    </link>
    <link name="${prefix}suction3">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.2" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/visual/suction_cup_4cups.stl" />
        </geometry>
        <material name="">
          <color rgba="0.9 0.9 0.9 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/collision/suction_cup_4cups.stl" />
        </geometry>
      </collision>
    </link>
    <link name="${prefix}suction4">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <mass value="0.2" />
        <inertia ixx="1.0E-03" ixy="1.0E-06" ixz="1.0E-06" iyy="1.0E-03" iyz="1.0E-06" izz="1.0E-03" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/visual/suction_cup_4cups.stl" />
        </geometry>
        <material name="">
          <color rgba="0.9 0.9 0.9 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://onrobot_vg_description/meshes/vgc10/collision/suction_cup_4cups.stl" />
        </geometry>
      </collision>
    </link>
    <link name="${prefix}suction" />
  </xacro:macro>

  <xacro:macro name="suction_joint" params="prefix">
    <joint name="${prefix}_suction_joint" type="fixed">
      <origin xyz="0. 0. 0.08350" rpy="0 0 0" />
      <parent link="${prefix}onrobot_vgc10_base_link" />
      <child link="${prefix}suction" />
      <axis xyz="1 0 0" />
    </joint>
    <joint name="${prefix}_suction1_joint" type="fixed">
      <origin xyz="0.0175 0.0175 0." rpy="0 0 0" />
      <parent link="${prefix}suction" />
      <child link="${prefix}suction1" />
      <axis xyz="1 0 0" />
    </joint>
    <joint name="${prefix}_suction2_joint" type="fixed">
      <origin xyz="0.0175 -0.0175 0." rpy="0 0 0" />
      <parent link="${prefix}suction" />
      <child link="${prefix}suction2" />
      <axis xyz="1 0 0" />
    </joint>
    <joint name="${prefix}_suction3_joint" type="fixed">
      <origin xyz="-0.0175 0.0175 0." rpy="0 0 0" />
      <parent link="${prefix}suction" />
      <child link="${prefix}suction3" />
      <axis xyz="1 0 0" />
    </joint>
    <joint name="${prefix}_suction4_joint" type="fixed">
      <origin xyz="-0.0175 -0.0175 0." rpy="0 0 0" />
      <parent link="${prefix}suction" />
      <child link="${prefix}suction4" />
      <axis xyz="1 0 0" />
    </joint>
  </xacro:macro>

  <xacro:include filename="$(find onrobot_vg_description)/urdf/onrobot_vgc10_4cups.xacro" />

  <xacro:macro name="onrobot_vgc10" params="prefix">
    <xacro:onrobot_vgc10_base_link prefix="${prefix}"/>
    <xacro:finger_links prefix="${prefix}"/>
    <xacro:suction_joint prefix="${prefix}"/>
  </xacro:macro>
</robot>
